name: Build and Deploy

on:
  push:
    branches: [ web-port ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup Python  
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install pygbag
      run: pip install pygbag
    
    - name: Build
      run: python -m pygbag --build main_web.py
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: dist